
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Order> orders = ViewBag.Orders;
    List<OrderStatus> statuses = ViewBag.statuses;
    Dictionary<int,List<SelectListItem>> statusSelect = new Dictionary<int, List<SelectListItem>>();
    }
<h2>Orders</h2>
<div id="search" class="horizontal">
	<form id="searchForm" class="form-row align-items-center" asp-action="Orders" asp-controller="Admin" method="POST">
            <div class="col"
		        <label>By ID:</label>
		        <input id="orderId" name="orderId" type="search" placeholder="type id to search.." class="form-control search-control ds-input" /> <br/>
            </div>
            <div class="col"
		        <label>By status:</label>
		        <select class="form-control search-control ds-input" name="orderStatus">
			        <option value=0>Choose status</option>
		        @{ foreach (OrderStatus status in statuses)
			        {
				        <option value=@status.Id >@status.Name</option>
			        }
		        }
		        </select> </br>
            </div>
            <div class="col">
		        <label>By date:</label>
		        <input type="date" class="datepicker form-control search-control ds-input" name="orderDate"/></br>
            </div>
		    <input type="submit" id="search-button" class="btn form-control search-control btn-primary btn-sm" value="Search">
	</form>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @{ foreach (Order order in orders)
            {
                <tr>
                    <th>@order.Id</th>
                    <td>@order.Customer.FirstName @order.Customer.LastName</td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>
                        @{
                            statusSelect[order.Id] = new List<SelectListItem>();
                            statuses.ForEach(status => statusSelect[order.Id].Add(new SelectListItem(status.Name, status.Id.ToString(), order.Status.Id == status.Id)));
                        }
                        @using (Html.BeginForm("UpdateOrderStatus", "Admin"))
                        {
                            @Html.Hidden("orderID", order.Id)
                            @Html.DropDownList("id", statusSelect[order.Id], new { onchange = "this.form.submit();" })
                        }
                    </td>
                    <td>
                        <a class="icon-button" type="submit" asp-route-id="@order.Id" asp-controller="Admin" asp-action="RemoveOrder">
                            <i class="pnl-icon fa fa-trash fa-lg"></i>
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>