@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Shop";
    List<Product> products = ViewBag.Products;
    List<Category> categories = ViewBag.Categories;
    List<Tag> tags = ViewBag.Tags;

}

@{ if (TempData.ContainsKey("ProductRemovalFailed") && (bool)TempData["ProductRemovalFailed"] == true)
    {
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Oh no!</strong> You can't delete this product, because it's related to some orders :(
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
}

 <button type="button" id="add-button" class="btn btn-dark btn-products" data-toggle="modal" data-target="#add-product-modal">
  Add Product
</button>

<div class="container view-container">
    <div class="layout">
        <section class="inner">
            <ul class="grid">

                @{ foreach (Product product in products)
                    {
                        if (product.IsDeleted) { continue; }

                        string editId = "edit-product" + product.Id;
                        string editIdTarget = "#edit-product" + product.Id;

                        <li class="grid-tile">
                            <div class="item">
                                <img class="item-img" src="@product.ImageSrc"
                                     asp-append-version="true" alt="@product.ImageSrc" />
                                <div class="pnl-wrapper">
                                    <div class="pnl-description">
                                        <span class="pnl-label">@product.Name</span>
                                        <span class="pnl-category">@product.Category.Name</span>
                                        <span class="pnl-price">@product.Price&#8362;</span>
                                        <span class="pnl-gender">@product.Gender</span>
                                        <div>
                                            @foreach (Tag tag in product.Tags)
                                            {
                                                <span class="product-tag mr-2"># @tag.Name</span>
                                            }
                                        </div>
                                    </div>
                                    <a data-toggle="modal" data-target="@editIdTarget">
                                        <i class="pnl-icon fa fa-pencil fa-lg"></i>
                                    </a>
                                    <!-- Button trigger modal -->
                                    <a asp-route-id="@product.Id" asp-controller="Admin" asp-action="RemoveProduct">
                                        <i class="pnl-icon fa fa-trash fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                        </li>

                        <!--Edit Product Modal -->
                        <div class="modal fade" id="@editId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit @product.Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form class="" asp-action="EditProduct" asp-controller="Admin" asp-route-id="@product.Id" method="POST" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="editName">Product Name:</label>
                                                <input id="editName" name="name" type="search" class="form-control ds-input" value="@product.Name" />
                                            </div>

                                            <div class="form-group">
                                                <label for="addCategorySelect">Select Category</label>
                                                <select class="form-control" id="addCategorySelect" name="category">

                                                    @{ foreach (Category category in categories)
                                                        {
                                                            if (category.Id == @product.Category.Id)
                                                            {
                                                                <option value=@category.Id selected>@category.Name</option>
                                                                continue;
                                                            }

                                                            <option value=@category.Id>@category.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="addImage">Add Image</label>
                                                <input value="@product.ImageSrc" name="img" type="file" class="form-control-file" accept="image/*" id="addImage">
                                            </div>
                                            <div class="form-group">
                                                <label for="addPrice">Price:</label>
                                                <input id="addPrice" name="price" type="number" value="@product.Price" class="form-control ds-input" />
                                            </div>
                                            <div class="form-group">
                                                <label for="addGender">Gender:</label>
                                                <select class="form-control" id="addGenderSelect" name="gender">
                                                    @if (product.Gender == Gender.Male)
                                                    {
                                                        <option value="@Gender.Male" selected>@Gender.Male</option>
                                                        <option value="@Gender.Female">@Gender.Female</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@Gender.Male">@Gender.Male</option>
                                                        <option value="@Gender.Female" selected>@Gender.Female</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="addTags">Tags:</label>
                                                @foreach (var tag in tags)
                                                {
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="tags" value="@tag.Id" 
                                                            @if (product.Tags.Select(t => t.Id).Contains(tag.Id))
                                                            {
                                                                <text> checked </text> 
                                                            } 
                                                            /> @tag.Name
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="submit" id="search-button" class="btn btn-primary btn-sm" value="Edit">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                                                        }
                }
            </ul>

            <!--Add New Product Modal -->
            <div class="modal fade" id="add-product-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="searchForm" class="" asp-action="AddProduct" asp-controller="Admin" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="addName">Product Name:</label>
                                    <input id="addName" name="name" type="search" class="form-control ds-input" required />
                                </div>

                                <div class="form-group">
                                    <label for="addCategorySelect">Select Category</label>
                                    <select class="form-control" id="addCategorySelect" name="category">

                                        @{ foreach (Category category in categories)
                                            {
                                                <option value=@category.Id>@category.Name</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="addImage">Add Image</label>
                                    <input name="img" type="file" class="form-control-file" accept="image/*" id="addImage" required>
                                </div>

                                <div class="form-group">
                                    <label for="addPrice">Price:</label>
                                    <input min="1" id="addPrice" name="price" type="number" class="form-control ds-input" required />
                                </div>
                                <div class="form-group">
                                    <label for="addGender">Gender:</label>
                                    <select class="form-control light-border" name="gender">
                                        <option value="@Gender.Male" selected>@Gender.Male</option>
                                        <option value="@Gender.Female">@Gender.Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="addTags">Tags:</label>
                                    @foreach (var tag in tags)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="tags" value="@tag.Id" /> @tag.Name
                                            </label>
                                        </div>
                                    }
                                </div>
                             </div>
                             <div class="modal-footer">
                                <input type="submit" id="search-button" class="btn btn-primary btn-sm" value="Add">
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
